<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjxxt.wms.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.yjxxt.wms.bean.Admin" >
    <id column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_account" property="adminAccount" jdbcType="VARCHAR" />
    <result column="admin_password" property="adminPassword" jdbcType="VARCHAR" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_sex" property="adminSex" jdbcType="VARCHAR" />
    <result column="admin_age" property="adminAge" jdbcType="VARCHAR" />
    <result column="admin_phone" property="adminPhone" jdbcType="VARCHAR" />
    <result column="admin_address" property="adminAddress" jdbcType="VARCHAR" />
    <result column="admin_email" property="adminEmail" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    admin_id, admin_account, admin_password, admin_name, admin_sex, admin_age, admin_phone, 
    admin_address, admin_email, is_valid, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yjxxt.wms.bean.Admin" >
    insert into admin (admin_id, admin_account, admin_password, 
      admin_name, admin_sex, admin_age, 
      admin_phone, admin_address, admin_email, 
      is_valid, create_date, update_date
      )
    values (#{adminId,jdbcType=INTEGER}, #{adminAccount,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{adminName,jdbcType=VARCHAR}, #{adminSex,jdbcType=VARCHAR}, #{adminAge,jdbcType=VARCHAR}, 
      #{adminPhone,jdbcType=VARCHAR}, #{adminAddress,jdbcType=VARCHAR}, #{adminEmail,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yjxxt.wms.bean.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminAccount != null" >
        admin_account,
      </if>
      <if test="adminPassword != null" >
        admin_password,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="adminSex != null" >
        admin_sex,
      </if>
      <if test="adminAge != null" >
        admin_age,
      </if>
      <if test="adminPhone != null" >
        admin_phone,
      </if>
      <if test="adminAddress != null" >
        admin_address,
      </if>
      <if test="adminEmail != null" >
        admin_email,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminAccount != null" >
        #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null" >
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminSex != null" >
        #{adminSex,jdbcType=VARCHAR},
      </if>
      <if test="adminAge != null" >
        #{adminAge,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="adminAddress != null" >
        #{adminAddress,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjxxt.wms.bean.Admin" >
    update admin
    <set >
      <if test="adminAccount != null" >
        admin_account = #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null" >
        admin_password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminSex != null" >
        admin_sex = #{adminSex,jdbcType=VARCHAR},
      </if>
      <if test="adminAge != null" >
        admin_age = #{adminAge,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        admin_phone = #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="adminAddress != null" >
        admin_address = #{adminAddress,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        admin_email = #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjxxt.wms.bean.Admin" >
    update admin
    set admin_account = #{adminAccount,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR},
      admin_sex = #{adminSex,jdbcType=VARCHAR},
      admin_age = #{adminAge,jdbcType=VARCHAR},
      admin_phone = #{adminPhone,jdbcType=VARCHAR},
      admin_address = #{adminAddress,jdbcType=VARCHAR},
      admin_email = #{adminEmail,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateIsByPrimaryKey">
    update admin set
  </update>


  <select id="selectByParams" resultType="Admin" parameterType="AdminQuery">
    select * from admin
    <where>
      is_valid = 1
      <if test="null != adminAccount and adminAccount != ''">
        and admin_account = #{adminAccount}
      </if>
      <if test="null != adminEmail and adminEmail != ''">
        and admin_email = #{adminEmail}
      </if>
      <if test="null != adminPhone and adminPhone != ''">
        and admin_phone = #{adminPhone}
      </if>
    </where>
  </select>
  <select id="selectUserByName" resultType="com.yjxxt.wms.bean.Admin">
    select * from admin where admin_account = #{adminAccount}
  </select>





</mapper>